* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: aquamarine;
}

header {
    background-color: #5e9cff;
    background-image: url("../img/pattern.png");
    background-position: center;
    width: 100%;
    height:120px;
    padding: 20px;
}

header > img {
    width: 220px;
    position: relative;
    top: 75px;
}

main {
    padding: 20px;
}

.author {
    color: #adadad ;
    font-size: 12px;;
}

.author > a {
    color: #4EC5F1;
    text-decoration: none;
}

.date {
    font-size: 10px;;
}

#pics {
    margin-top: 15px;
}

.captions {
    font-size: 10px;
    font-weight: bold;
}

.content {
    margin-top: 15px;
}

mark {
    background-color: rgba(238, 255, 46, 0.6);
}